@font-face {
	font-family: 'Aleo-Regular';
	src: url(../assets/fonts/AnyConv.com__Aleo-Regular.woff);
}

@font-face {
	font-family: 'JosefinSans-Bold';
	src: url(../assets/fonts/AnyConv.com__JosefinSans-Bold.woff);
}

@font-face {
	font-family: 'JosefinSans-Light';
	src: url(../assets/fonts/AnyConv.com__JosefinSans-Light.woff);
}

@font-face {
	font-family: 'JosefinSans-Regular';
	src: url(../assets/fonts/AnyConv.com__JosefinSans-Regular.woff);
}

@font-face {
	font-family: 'icons';
	src: url(../assets/fonts/);
}